	html {
		height: 100%;
	}

	body {
		margin: 0;
		font-family: 'Roboto',arial,sans-serif;
		height: 100%;
	}

	.content-overlay-box {
		left: 60px;
		position: absolute;
		top: 80px;
	}

	div {
		display: block;
	}

	#devices-container {
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
		-ms-box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
		box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
		background-color: #fff;
	}

	.error {
		color: #f00;
		text-align: center;
	}

	.loglink {
		text-decoration: underline;
		cursor: pointer;
	}

	.header-summary {
		padding: 10px;
	}

	.device-left-info {
		cursor: pointer;
	}

	.visible-device-details {
		display: block;
		max-height: 400px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.details-container {
		width: 510px;
	}

	.details {
		padding-top: 15px;
		padding-left: 15px;
	}

	.status-area {
		padding: 10px 15px 0 15px;
	}

	.register-area {
		font-size: 14px;
		padding: 10px 15px 0 15px;
		text-align: right;
		width: 300px;
	}

	.login-area {
		font-size: 14px;
		padding: 10px 15px 0 15px;
		text-align: right;
		width: 250px;
	}

	.login-title {
		display: table-cell;
		width: 90px;
	}

	.login-long-title {
		display: table-cell;
		width: 150px;
	}


	.login-field {
		display: table-cell;
	}

	.log-area {
		padding: 10px 15px 0 15px;
		font-weight: 600;
	}

	.detail-group {
		padding: 1px 15px 20px 15px;
	}

	.log-entries {
		padding: 1px 15px 1px 15px;
		margin: 0px 0px 20px 0px;
		border: 1px solid black;
		width: 450px;
		height: 100px;
		overflow-x: hidden;
		overflow-y: auto;
		white-space: nowrap;
	}

	.detail-contents {
		color: #333;
		font-size: 13px;
	}

	#log-contents {
		color: #333;
		font-size: 9px;
	}

	.device-button-container {
		display: table;
		width: 100%;
	}

	.summary-text {
		display: inline-block;
		max-width: 235px;
		vertical-align: middle;
	}

	.device-name {
		overflow: hidden;
		padding-right: 20px;
		padding-left: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 24px;
		font-weight: 300;
	}

	.device-registered {
		overflow: hidden;
		padding-left: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #8d8d8d;
		font-size: 13px;
	}

	.down-arrow {
		background-image: url('../images/down-arrow.png');
		background-position: center;
		background-repeat: no-repeat;
		height: 10px;
		vertical-align: middle;
		width: 16px;
		display: inline-block;
	}

	#device-dropdown {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-box-shadow: 0 2px 40px rgba(0,0,0,0.4);
		-ms-box-shadow: 0 2px 40px rgba(0,0,0,0.4);
		-webkit-box-shadow: 0 2px 40px rgba(0,0,0,0.4);
		box-shadow: 0 2px 40px rgba(0,0,0,0.4);
		background-color: #fff;
		border: 1px solid #d6d6d6;
		max-width: 300px;
		min-width: 248px;
		position: absolute;
		z-index: 1;
		display: none;
	}

	.device-summary:hover, .selected-tab {
		background-color: #f5f5f5;
		cursor: pointer;
	}

	.device-summary {
		padding: 10px;
		cursor: pointer;
	}

	.no-devices {
		padding: 20px;
		font-size: 24px;
		font-weight: 300;
	}

	iframe {
		display: block;
		width: 100%;
		border: none;
		overflow-y: auto;
		overflow-x: hidden;
	}

	#button {
		display: none;
		min-width: 0;
		padding: 0;
		background-image: url('../images/send-cmd.png');
		background-position: center;
		background-repeat: no-repeat;
		height: 40px;
		width: 40px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
		-ms-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
		box-shadow: 0 1px 0 rgba(0,0,0,0.05);
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		background-color: #fff;
		border: 1px solid rgba(0,0,0,0.17);
		color: #737373;
		cursor: default;
		display: inline-block;
		font: normal 500 14px "Roboto",serif;
		height: 36px;
		line-height: 37px;
		min-width: 40px;
		padding: 0 20px;
		position: absolute;
		top: 20px;
		left: 350px;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		z-index: 2;
	}

	#command-dropdown {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-box-shadow: 0 2px 40px rgba(0,0,0,0.4);
		-ms-box-shadow: 0 2px 40px rgba(0,0,0,0.4);
		-webkit-box-shadow: 0 2px 40px rgba(0,0,0,0.4);
		box-shadow: 0 2px 40px rgba(0,0,0,0.4);
		background-color: #fff;
		border: 1px solid #d6d6d6;
		max-width: 300px;
		min-width: 248px;
		position: absolute;
		z-index: 1;
		display: none;
		top: 60px;
		left: 350px;
	}

	.command-list {
		overflow: hidden;
		padding: 3px 3px 3px 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #8d8d8d;
		font-size: 12px;
	}

	#command-sent-dropdown {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-box-shadow: 0 2px 40px rgba(0,0,0,0.4);
		-ms-box-shadow: 0 2px 40px rgba(0,0,0,0.4);
		-webkit-box-shadow: 0 2px 40px rgba(0,0,0,0.4);
		box-shadow: 0 2px 40px rgba(0,0,0,0.4);
		background-color: #fdd;
		border: 1px solid #f6d6d6;
		max-width: 200px;
		min-width: 200px;
		position: absolute;
		z-index: 1;
		display: none;
		top: 60px;
		left: 350px;
	}

	.command-sent {
		overflow: hidden;
		padding-left: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #dd8d8d;
		font-size: 15px;
	}

	#img-container {
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
		-ms-box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
		box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
		background-color: #fff;
		display: none;
		top: 50px;
		left: 100px;
		z-index: 3;
		position: absolute;
	}

	.img-display {
		cursor: pointer;
		text-align: center;
		background-color: #fff;
		padding: 5px;
		font-size: 13px;
	}

	.shell-display {
		text-align: left;
		background-color: #fff;
		padding: 5px;
		font-size: 13px;
		overflow-x: auto;
		overflow-y: auto;
	}


	.header {
		background-color: #f1f1f1;
		border-bottom: 1px solid #2d2d2d;
		border-top: 10px solid #2d2d2d;
		width: 100%;
		height: 40px;
		font-size: 27px;
		vertical-align: middle;
		display: inline-block;
		font-weight: 300;
	}

	.header-link {
		height: 40px;
		font-size: 13px;
		vertical-align: middle;
		display: inline-block;
		font-weight: 300;
		padding: 5px 0px 2px 60px;
		float: right;
		margin: 10px 10px 2px 0px;
	}

	.header-title {
		float: left;
		margin: 5px 0px 2px 60px;
	}

	a:link { color: #333; }

	a:visited { color: #333; }

	a:hover { color: #000; }

	a:active { color: #333; }

	#map_layer {
		height: 93%;
	}
	#shell_cmd {
		width: 98%;
		height: 17px;
	}
